@import url(https://fonts.googleapis.com/css?family=Lato:300,300italic,400,700,700italic);

* {
    margin: 0;
    padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
div,
span,
a,
button {
    font-family: 'Lato', 'Open Sans', 'Helvetica Neue', 'Segoe UI', Helvetica, Arial, sans-serif;
    line-height: 1.5;
}

body {
    background: #f3f3f3;
}

a {
    color: #016aba;
    text-decoration: none;
}

button {
    font-size: 100%;
}

p {
    line-height: 1.5;
    margin-bottom: 15px;
}

/**
 * Button
 */

.button {
    padding: 10px 30px 10px;
    text-decoration: none;
    color: #fff;
    background: #016aba;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    font-weight: bold;
    opacity: 0.9;
    display: inline-block;
}

.button:hover {
    opacity: 1;
}
/**
 * Body Container
 */

.container {
    max-width: 1024px;
    min-height: 100vh;
    background: #f9f9f9;
    margin: 0 auto;
}

.body {
    padding: 15px;
}

.jumbo {
    padding: 50px;
    background: #f6f6f6;
}

.jumbo:hover {
    background-color: #f3f3f3;
}

.jumbo h2 {
    font-size: 3.2em;
    margin-top: -25px;
}

.jumbo p,
.jumbo address {
    margin-bottom: 25px;
}

.jumbo img {
    height: 200px;
    position: relative;
    top: -25px;
    right: -20px;
}

.light {
    font-weight: 300;
}

.left {
    float: left;
}

.right {
    float: right;
}

.hidden {
    display: none;
}

.relative {
    position: relative;
}

.burnlino {
    background: url(../burnlino.png);
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 200px;

    position: relative;
    top: -25px;
}

.screen-reader{
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px; padding: 0; border: 0;
}
